<title>Rental Listings | St. John's Newfoundland | ThePropertyHandlers.ca</title>
  <h1>Rental Listings:</h1>
  <% @listings.each do |listing| %>
      <div id="listing">
        <h2><%= listing.heading %></h2>
        <p>Price (per month): <span>$<%= listing.price %></span></p>
        <p>Baths: <span><%= listing.baths %></span></p>
        <p>Bedrooms: <span><%= listing.bedrooms %></span></p>
        <p>Features:</p>
        <p><%= listing.features %></p>
        <p>Location: <span><%= listing.location %></span></p>
        <p>Parking: <span><%= listing.parking %></span></p>
        <p><%= link_to 'Show', listing %></p>
   
        <%= link_to 'Edit', edit_listing_path(listing) %>
        <%= link_to 'Destroy', listing, confirm: 'Are you sure?', method: :delete %>
      </div>
 
  <% end %>


  <br />

  <%= link_to 'New Listing', new_listing_path %>
