<p id="notice"><%= notice %></p>

<p>
  Heading:
  <%= @listing.heading %>
</p>

<p>
  Price:</b>
  <%= @listing.price %>
</p>

<p>
  Baths:
  <%= @listing.baths %>
</p>

<p>
  Bedrooms:
  <%= @listing.bedrooms %>
</p>

<p>
  Features:
  <%= @listing.features %>
</p>

<p>
  Location:
  <%= @listing.location %>
  <%= gmaps4rails(@json) %>
</p>

<p>
  Parking:
  <%= @listing.parking %>
</p>
</div>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
