<!DOCTYPE html>
<html>
<head>
  <!--<title>ListingApp</title>-->
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= javascript_include_tag "style" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= yield :scripts %>

</body>
</html>
